// icon overrides here
svg {
	&.s16 {
		block-size: @16px;
		inline-size: @16px;
	}

	&.s20 {
		block-size: @20px;
		inline-size: @20px;
	}
}

.bs-icons1 {
	&.down-stroke-icon-new:before {
		content: '\ebb1';
	}
}
