# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.git/
/.changeset/

# ember-try
/.node_modules.ember-try/
/package.json.ember-try

# demo app (not validated by root JS lint)
/ulx/src/demo/
