# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.git/
/.changeset/

# ember-try
/.node_modules.ember-try/
/package.json.ember-try

# # gts/gjs files are checked by glint
**/*.gts
**/*.gjs

