# unconventional files
/dist/

# dependencies
node_modules/

# compiled output
/dist/
/tmp/

# misc
/.eslintcache
/npm-debug.log*
/yarn-error.log
/.pnpm-debug.log*
/yarn.lock
/package-lock.json
/pnpm-lock.yaml
