// avatar overrides here

.ulx-avatar {
    &.featured {
        overflow: visible;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        &:after, &:before {
            font-family: 'bs-icons1';
            display: inline-block;
            content: "\ea1a";
            position: absolute;
            inset-inline-start: 50%;
            top: 50%;
            margin-inline-start: -12px;
            bottom: -20px;
            font-size: @font-size-h3;
            z-index: 1;
        }
        &:after {
            color: @yellow-fg;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
        }
        &:before {
            color: @brown-fg;
        }
    }
    //custom sizes
    &.s160 {
        width: @160px; 
        height: @160px;
        .avatar-icon, 
        .avatar-label,
        .@{uls-icon-prefix} {
            font-size: @60px; 
            &::before {
            font-size: @60px;
            }
        }
    }
}