// Input-group overrides here

.ulx-inputgroup {
    .inputgroup-addon.dropdown-addon:not(.button-addon) {
        padding: 0;
        >.ulx-dropdown {
            border-inline-end: 0;
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }
    }
}