@browser-default-fonts: Arial, Helvetica, sans-serif;

@font-face-regular: var(--regular-font), @browser-default-fonts;
@font-face-medium: var(--medium-font), @browser-default-fonts;
@font-face-light: var(--light-font), @browser-default-fonts;
@font-face-bold: var(--bold-font), @browser-default-fonts;

@font-size-h1: var(--font-size-h1);
@font-size-h2: var(--font-size-h2);
@font-size-h3: var(--font-size-h3);
@font-size-h4: var(--font-size-h4);
@font-size-h6: var(--font-size-h6);
@font-size-default: var(--font-size-default);
@font-size-small: var(--font-size-small);
@font-size-tiny: var(--font-size-tiny);
@font-size-mini: var(--font-size-mini);
