// size-vars overrides here
@304px: 304px;
@308px: 308px;
@312px: 312px;
@316px: 316px;
@320px: 320px;
@324px: 324px;
@328px: 328px;
@332px: 332px;
@336px: 336px;
@340px: 340px;
@344px: 344px;
@348px: 348px;
@352px: 352px;
@356px: 356px;
@360px: 360px;
@364px: 364px;
@368px: 368px;
@372px: 372px;
@376px: 376px;
@380px: 380px;
@384px: 384px;
@388px: 388px;
@392px: 392px;
@396px: 396px;
@400px: 400px;