// // utill overrides here

// // @spacing-step: 4;

// //ui-lab start


// //payout currency label
// .payout-currency {
// 	display: grid;
// 	grid-template-columns: 72px 184px;
// 	justify-content: center;

// 	.item-label {
// 		padding: 16px;
// 		border-right: 0 !important;
// 		text-align: center;
// 		border-right: 0;
// 	}

// 	.item-text {
// 		padding: 12px;
// 	}

// 	.item-text,
// 	.item-label {
// 		border: 1px solid @default-border-color;
// 	}
// }

// @media @tablet-screen {
// 	.embed-preview-section {
// 		border: 0;
// 	}

// 	.tablet-view-only {
// 		display: block !important;
// 	}
// }

@width-utilities: {
    w-304: @304px;
    w-308: @308px;
    w-312: @312px;
    w-316: @316px;
    w-320: @320px;
    w-324: @324px;
    w-328: @328px;
    w-332: @332px;
    w-336: @336px;
    w-340: @340px;
    w-344: @344px;
    w-348: @348px;
    w-352: @352px;
    w-356: @356px;
    w-360: @360px;
    w-364: @364px;
    w-368: @368px;
    w-372: @372px;
    w-376: @376px;
    w-380: @380px;
    w-384: @384px;
    w-388: @388px;
    w-392: @392px;
    w-396: @396px;
    w-400: @400px;
}