// divider overrides here

.radio-panel-divider.ulx-divider.vertical {
    align-self: stretch;
    border-color: @primary-color;
    color: @primary-color;
    height: auto;
    min-height: @120px;

    .ulx-divider-content {
        border-color: @primary-color;
        height: 100%;
    }
}