@browser-default-fonts: Arial, Helvetica, sans-serif;
@font-face-name: puvi;
@fontSmoothing: antialiased;

@regular-font: var(--ba-regular-font, '@{font-face-name}regular');
@medium-font: var(--ba-medium-font, '@{font-face-name}bold');
@light-font: var(--ba-light-font, '@{font-face-name}light');
@bold-font: var(--ba-bold-font, '@{font-face-name}black');
@fontName: @regular-font;

@font-face-regular: @regular-font, @browser-default-fonts;
@font-face-medium: @medium-font, @browser-default-fonts;
@font-face-light: @light-font, @browser-default-fonts;
@font-face-bold: @bold-font, @browser-default-fonts;
@font-face-semibold: @bold-font, @browser-default-fonts;

@font-size-h1: var(--h1-font-size);
@font-size-h2: var(--h2-font-size);
@font-size-h3: var(--h3-font-size);
@font-size-h4: var(--h4-font-size);
@font-size-h5: var(--h5-font-size);
@font-size-h6: var(--h6-font-size);
@font-size-h7: var(--h7-font-size);
@font-size-default: var(--default-font-size);
@font-size-small: var(--small-font-size);
@font-size-tiny: var(--tiny-font-size);
@font-size-mini: var(--mini-font-size);
@font-size-xs: var(--xxs-font-size);
